<h1>News...</h1>
   <ul>
    <li>8-Apr-2019: We are looking for <strong>volunteer translators</strong> to Spanish, Brazilian, French or any language you'd like to support. 
	 Please <a href="mailto:G.Wagner@b-tu.de?subject=Sim4edu%20Translation&body=Hi%20guys!%0D%0AI'd%20like%20to%20help%20with%20translating%20Sim4edu%20to%20...">contact us</a> 
	 if you can help  with this.</li>
    <li>3-Apr-2019: The Sim4edu website and its OESjs simulations has been internationalized: now also available in
     Chinese and in German (soon).</li>
    <li>8-Jan-2019: OESjs 1.3e has been released: solving issues with Processing Network simulation and adding summary statistics to experiments.</li>
    <li>19-Sep-2018: OESjs 1.3c has been released: additional user interfaces for inspecting code, initial events and experiments.</li>
    <li>28-July-2018: OESjs 1.3b has been released. Now supporting a user interface for setting model variables.</li>
    <li>9-May-2018: OESjs 1.3a has been released. It allows defining simulation experiments and runs faster due to running the simulator in its own (worker) thread.</li>
    <li>4-May-2018: The Sim4edu website has moved to Netlify</li>
   </ul>