$main
  max-width: 44em
  margin: 1em auto

$main > aside
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  margin-left: 0.8em;
  padding:5px; 
  border: 1px solid; 
  float: right;
  width: 40%; 

$main > section 
  margin-bottom: 0.8em;

$main > section > h1 
  font-size: 1.7em;
  margin-bottom: 0.2em;