<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" vocab="http://schema.org/">
<head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
 <title>Sim4edu - Web-Based Simulation for Science and Education</title>
 <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
 <%- body %>
</body>
</html>