<body>
        <%- partial('partial/header') %>
        <h1 id="page-title"><%- page.title %></h1>
        <h2>HALI HALO HALO HALO</h2>
        <%- page.content %>        
        <%- partial('partial/footer') %>
    </body>
   