<body>
    <%- partial('partial/header') %>
    <div id="between-head-and-foot">
        <h1 id="page-title"><%- page.title %></h1>
        <%- page.content %>
    </div>
    <%- partial('partial/footer') %>
</body>